<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluefinch" translate="label" sortOrder="10">
            <label>Blue Finch</label>
        </tab>
        <section id="bluefinch_build" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Theme</label>
            <tab>bluefinch</tab>
            <resource>BlueFinch_Build::bluefinch_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="primary_colour" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Primary Colour</label>
                    <comment>Primary Colour used for primary buttons.</comment>
                </field>
                <field id="secondary_colour" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secondary Colour</label>
                    <comment>Secondary Colour used for header and footer</comment>
                </field>
                <field id="tertiary_colour" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tertiary Colour</label>
                    <comment>Tertiary Colour used for text</comment>
                </field>
                <field id="font_family" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Font Family</label>
                    <comment>Specify the name of the font to use for your theme. The font name should match how it is registered on the font service (e.g., Google Fonts) and must not include special characters. If this field is left empty, the default Magento font, 'Open Sans', will be used.</comment>
                </field>
                <field id="logo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Logo</label>
                    <comment>Default header Logo. If mobile logo is set then this logo will only show on tablet and desktop devices</comment>
                </field>
                <field id="mobile_logo" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mobile Logo</label>
                    <comment>Logo shown on mobile devices</comment>
                </field>
            </group>
        </section>
    </system>
</config>
