<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gene" translate="label" sortOrder="10">
            <label>Gene</label>
        </tab>
        <section id="exodus" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Exodus</label>
            <tab>gene</tab>
            <resource>Gene_Exodus::exodus_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Primary Colour</label>
                    <comment>Primary Colour used for buttons etc.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
